


#lego1{
    background-color:#79a3b1 ;
    float: right;
}

#lego2{
    background-color:#fcf8ec ;
    float: right;

}

#lego3{
    background-color: #79a3b1;
    float: right;
}


.leg1{
   float: left;
}

.leg2{
   float: left;
}

.leg3{
   float: left;
}

